.informe-fecha-inline-select {
    width: auto;
    display: inline-block;
}

.btn-custom {
    width:100px;
    padding:5px;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}